
*{
    box-sizing: border-box;
}
section{
    width: 100%;
    min-height: 100vh;
    padding:100px;
}
:root{
    scrollbar-color:#ddd !important;
    scrollbar-width: thin !important;
}
::-webkit-scrollbar{
    width: 6px;
    scrollbar-width: thin;
}
::-webkit-scrollbar-track{
    background-color:#ddd;
}
::-webkit-scrollbar-thumb{
    background-color:#999;
    border-radius: 33px;
}
